@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("./components/Assests/Fonts/Booter - Zero Zero.woff") format("woff"),
    url("./components/Assests/Fonts/Booter - Zero Zero.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
}
