.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("..\Img\Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline; 
    color: white; 
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}